html {
    height: 100%;
}

body {
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/31/99/768/blue-gradient-simple-wallhaven-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 0.02em;
}

button {
    color: rgb(255, 255, 255);
    font-size: 1em;
    line-height: 1em;
    padding: 0.25em;
    border-radius: 0.25em;
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: bold;
    font-variant: normal;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 0.30em 0.30em 1em 0.30em;
    border: 0.2em solid rgb(28, 110, 164);
    display: inline-block;
    opacity: 70%;
}

button:hover {
    background: #1C6EA4;
}

button:active {
    background: #144E75;
}

#titulo {
  font-family: 'Prosto One', cursive;
  font-family: 'Rowdies', cursive;
  text-transform: uppercase;
  display: block;
  font-size: 2.5em;
  color: #1E788E;
  text-shadow: 0em 0.2em 0.3em #c4b59d, 0em -0.1em 0.1em #fff;
  font-weight: bold;
  text-align: inherit;
  border-bottom: 0.2em inset #1E788E;
}

#foto {
    height: 9.5em;
    width: 9.5em;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.25em #1E788E;
    border-style: double;
}

.listaHorizontal {
    display: grid;
    height: 6em;
    width: 25em;
    place-content: center;
    grid-template-columns: 4em 4em 4em 4em 4em;
    align-content: center;
    padding: 0em;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: whitesmoke;
    margin: auto;
    position: center;
}

#logoNombre, #logoMail, #logoNacimiento, #logoDireccion, #logoTelefono {
    display: grid;
    place-content: center;
    border-radius: 20%;
    height: 1.3em;
    width: 1.3em;
    transition: border-color 0.5s;
    position: center;
    cursor: pointer;
    border: #1E788E;
    border-style: solid;
}

#logoNombre:hover, #logoMail:hover, #logoNacimiento:hover, #logoDireccion:hover, #logoTelefono:hover {
    border: #0B2A32;
    border-style: solid;
    transform: scale(1.2);
    text-align: inherit;
    justify-content: center;
    align-items: center;
}

#ul, div {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#fondo1 {
    height: 25em;
    width: 25em;
    display: block;
    background-color: whitesmoke;
    margin: 0em auto;
    position: center;
}

#fondo2, #fondo3, #fondo4 {
    height: auto;
    width: auto;
    display: block;
    background-color: whitesmoke;
    margin: 0em auto;
    position: center;
    margin-right: 1em;
    margin-left: 1em;
}

#text {
    display: grid;
    grid-template-columns: inherit;
    font-family: 'Nu#1E788Enito Sans', sans-serif;
    font-weight: bold;
    margin: 0em;
    font-size: 1.6em;
    position: center;
}

#label {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: underline;
    color: #1E788E;
    opacity: 80%;
    font-size: 1.25em;
    max-width: 100%;
}

#fondo2, #fondo3, #fondo4 {
    opacity: 0;
    transform: scale(0.9);
    transition: 0.5s ease-in-out all;
    animation: scroll 1s;
}

#fondo2.visible, #fondo3.visible, #fondo4.visible {
    opacity: 1;
    transform: scale(1);
}

@media screen and (min-width: 85em) {               /**Escritorio*/
    #body, #fondo1, #lista.listaHorizontal {
        width: 40%;
    }
    #foto {
        height: 100%;
        width: 100%;
    }
    #titulo {
        width: 100%;
    }
}

@media screen and (max-width: 52em) {             /**Tablet*/
    #body, .listaHorizontal {
        width: 80%;
        height: 80%;
    }
    #fondo1 {
        width: 80%;
        height: 80%;
    }
    #fondo2, #fondo3, #fondo4 {
        width: 80%;
        height: 80%;
        margin-left: 5.4em;
    }
    #foto {
        height: 10%;
        width: 10%;
    }
    #titulo {
        font-size: 250%;
    }
}

@media screen and (max-width: 26em) {               /**Celular*/
    #body, .listaHorizontal {
        width: auto; 
        height: auto;

    }
    #fondo1 {
        width: auto;
        height: auto;
    }
    #fondo2, #fondo3, #fondo4 {
        width: 100%;
        height: 100%;
        margin-left: 0em;
    }
    #foto {
        height: 100%;
        width: 100%;
    }
    #titulo {
        font-size: 100%;
    }
}