body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/262/287/non_2x/white-abstract-background-backdrop-for-presentation-design-for-website-free-photo.jpg");
}

#foto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #d0e4ee;
    border-style: solid;
}

#logo{
    border-radius: 20%;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    background-color: powderblue;
    transition: background-color .5s;
    display: inline;                        
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    border: #d0e4ee;
    border-style: solid;
}

#logo:hover {
    border: black;
    border-style: solid;
}

ul,div{
    display: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#fondo1{
    display: block;
    background-color: whitesmoke;
    margin: 0px 500px 0px 500px;
}

#valor{
    font-family: 'Seymour One', sans-serif;
    font-family: 'Unbounded', cursive;
    font-weight: bold;
}

#nombre, #e-mail, #nacimiento, #direccion, #telefono, #contraseña{
    font-family: 'Seymour One', sans-serif;
    font-family: 'Unbounded', cursive;
    font-weight: underline;
}
       